.footer {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 50px;
    background-color: #F3F6FA;
    width: 100%;
}

.footer-conview {
    margin-left: 150px;
    line-height: 2;
    padding-top: 50px;
}

.footer-content {
    display: flex;
}

.text {
    display: flex;
}

.footer-center {
    display: flex;
    flex-direction: column;
}

.footer-last {
    display: flex;
    margin-bottom: 20px;
}

.footer-left {
    margin-right: 150px;
}

.footer-left p {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.text-td {
    font-weight: bold;
    font-size: 17px;
}

.text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text-nd {
    margin-right: 80px;
}

hr {
    margin-bottom: 20px;
}

.logo2 {
    position: relative;
    left: 450px;
}

.footer-right {
    margin-left: 150px;
}

.footer-right span {
    font-weight: bold;
    font-size: 17px;
}

.footer-right p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer-search {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-search input {
    padding: 12px;
    outline: none;
    border: none;
}



.footer-icon .fa-brands {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding: 10px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50px;
}

.footer-icon .fa-brands:hover {
    background-color: #7FAD39;
    color: #F3F6FA;
    transition: all 0.3s;
}

#btn-reload{
    height: 50px; 
    width: 50px;
    background-color: #7FAD39;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    right: 20px;
    color: white;
    font-size: 20px;
}