section {
    margin-top: 30px;
}

.text-img {
    display: flex;
    padding-top: 35px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;

}

.text-option>a {
    color: white;
}

.post-content-img{
    margin-left: 10px;
}